# OUTPUT
/dist
/node_modules
/build

# LOGS
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# TESTS
/coverage
/.nyc_output

# IDES
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# VS CODE
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# ENV FILES
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# TEMP
.temp
.tmp

# RUNTIME
pids
*.pid
*.seed
*.pid.lock

# DIAGNOSTICS
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
